{%- if pagination -%}
  <nav aria-label="Pagination" role="navigation">
    {%- if pagination.page.previous -%}
      <a href="{{ pagination.href.previous | url }}" title="{{ 'Previous Page' | escape }}">
        <span>{{ 'Previous Page' | escape }}</span>
        <svg aria-hidden="true" role="presentation">
          <use xlink:href="#sprite-codepen"></use>
        </svg>
      </a>
    {%- else -%}
      <span>
        <span>{{ 'Previous Page' | escape }}</span>
        <svg aria-hidden="true" role="presentation">
          <use xlink:href="#sprite-codepen"></use>
        </svg>
      </span>
    {%- endif -%}
    {%- if pagination.page.next -%}
      <a href="{{ pagination.href.next | url }}" title="{{ 'Next Page' | escape }}">
        <span>{{ 'Next Page' | escape }}</span>
        <svg aria-hidden="true" role="presentation">
          <use xlink:href="#sprite-codepen"></use>
        </svg>
      </a>
    {%- else -%}
      <span>
        <span>{{ 'Next Page' | escape }}</span>
        <svg aria-hidden="true" role="presentation">
          <use xlink:href="#sprite-codepen"></use>
        </svg>
      </span>
    {%- endif -%}
  </nav>
{%- endif -%}