---
layout: base.liquid
pagination:
  data: collections.blog
  size: 1
  reverse: true
permalink: "blog/{% if pagination.pageNumber > 0 %}page-{{ pagination.pageNumber | plus: 1 }}/{% endif %}index.html"
---
<div class="container">
  <h1>{{ title | escape }}</h1>
  {{- content | safe -}}
  {%- if pagination.items -%}
    <hr />
    {% for post in pagination.items %}
      <article>
        <h2>
          <a href="{{ post.url | url }}">{{ post.data.title }}</a>
        </h2>
        <time data-timestamp="{{ post.data.timestamp }}">{{ post.date }}</time>
      </article>
    {% endfor %}
    <hr />
    {%- include pagination -%}
  {%- endif -%}
</div>