---
layout: base.liquid
pagination:
  data: collections.blog
  size: 2
  reverse: true
---
<section class="py-16 bg-gray-100">
  <div class="w-full max-w-6xl mx-auto px-4">
    <div class="flex flex-row flex-wrap md:items-center">
      <div class="w-full md:w-1/2 mb-8 md:mb-0">
        <h1 class="heading-xl mb-4">{{ title | escape }}</h1>
        {{- content | safe -}}
        <a class="btn mt-4" href="{{ '/about/' | url }}" title="{{ 'About me' | escape }}">
          <span>{{- 'About me' | escape -}}</span>
          <svg class="block w-4 h-4 ml-2 fill-current" aria-hidden="true" role="presentation">
            <use xlink:href="#sprite-arrow-right"></use>
          </svg>
        </a>
      </div>
      <div class="w-full md:w-1/2">
        Image
      </div>
    </div>
  </div>
</section>
{%- if pagination.items -%}
  <section class="py-16">
    <div class="w-full max-w-6xl mx-auto px-4">
      <div class="flex flex-row flex-wrap">
        <div class="w-full md:w-1/2 mb-8 md:mb-0">
          <h2 class="heading-xl mb-4">{{ 'Blog' | escape }}</h2>
          <p>Lorem ipsum dolar sit amet</p>
        </div>
        <div class="w-full md:w-1/2">
          {%- for article in pagination.items -%}
            <div class="mb-4">
              {%- include article-item,
                  article: article
              -%}
            </div>
          {%- endfor -%}
          <a class="btn mt-4" href="{{ '/blog/' | url }}" title="{{ 'Blog' | escape }}">
            <span>{{- 'Blog' | escape -}}</span>
            <svg class="block w-4 h-4 ml-2 fill-current" aria-hidden="true" role="presentation">
              <use xlink:href="#sprite-arrow-right"></use>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </section>
{%- endif -%}